QCon12.Mobile/SampleData/PalestrasDaTrack/PalestrasDaTrack.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.PalestrasDaTrack" targetNamespace="Expression.Blend.SampleData.PalestrasDaTrack" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PalestrasDaTrack" type="tns:PalestrasDaTrack" />
  <xs:complexType name="PalestrasDaTrack">
    <xs:sequence>
      <xs:element name="Palestras" type="tns:Palestras" />
      <xs:element name="Track" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Palestras">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PalestrasItem" type="tns:PalestrasItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PalestrasItem">
    <xs:sequence>
      <xs:element name="Track" type="tns:Track" />
      <xs:element name="Palestrante" type="tns:Palestrante" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="Nome" type="xs:string" />
    <xs:attribute blend:FormatParameters="20,8" name="Descricao" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Horario" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Track">
    <xs:attribute blend:Format="Name" name="Nome" type="xs:string" />
    <xs:attribute name="Logo" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="100,12" name="Bio" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="Palestrante">
    <xs:attribute blend:Format="Company Name" name="Nome" type="xs:string" />
  </xs:complexType>
</xs:schema>